.login {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100vw;
  height: 100vh;
  float: none;
}
.text {
  color: white;
}

.image{ 
  justify-content: flex-end;
  /* padding: 0rem; */
  background-position: center;
  background-size: cover;
  /* overflow: hidden; */
  width: 50%;
}

.form {
  display: inline-flex;
  flex-direction: column;
  background-color: rgb(21, 19, 137);
  justify-content: center;
  width: 50%;
}
@media only screen and (max-width: 500px) {
  .login {
    display: inline;
    width: 100vw;
    /* height: 100vh; */
    float: none;
    overflow: hidden;
  }
  .form {
    display: block;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .image {
    display: none;
  }
}
