.login {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* background-color: chartreuse; */
}
.header {

  background-color: chocolate;
}
.img {
  justify-content: flex-end;
}
.form {
  display: inline-flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  /* padding: 100px 0px 100px 0px; */
  background-color: darkblue;
  flex-wrap: wrap;

}
