 .card-container{ 
display: inline-block;
align-items: flex-start;
justify-content: flex-start;
/* background-color:white; */
width: 180px;
 }


.image-container {
display: block;
border: none;
}

.image{
justify-content: center;
width: 15%;
padding: 5px;
margin-bottom:0px;
background-color: rgb(239, 239, 247);
border:none;
border-radius:5%;
}

.card-body{
display: inline-block;
font-size:18px;
border: solid;
border-radius: 5%;
justify-items: center;
overflow-wrap: break-word;
width: 30%;
padding: 10X 10X 10X 10X;
}