
.register {
    display: flex;
    justify-content: center; 
    /* margin-top: 1rem; */
    /* margin-bottom: 1rem; */
    width: 100vw;
    height: 100vh;

    

    /* padding: 150px 0px 150px 0px; */
    /* background-color: chartreuse;  */
}
.register h1{
    color: black
}
.register p{
    color: black
}
.img {
    justify-content: flex-end;
    padding: 0rem;
    background-position: center;
    background-size: cover;
    overflow: scroll;
    /* margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.02rem; */
    width: 50%;
}

.Register-form {
    display: inline-flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    /* margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.02rem;
    padding: 100px 0px 100px 0px; */
    flex-wrap: wrap;
    width: 50%;
}
@media only screen and (max-width: 768px){
    .register{
        display: inline;
        width: 100vw;
        height: 100vh;
        float: none;
        


    }
    .Register-form{
        display: block;
        width: 100vw;
        height: 100vh;
        overflow: hidden;

    }
    .img{
        display: none;
    }

}


  