.terms{
    padding: 20px;
}

.cons h3{
    
    text-align: left;
    padding-left: 30px;
    padding-right: 20px;
}

.cons p{
    
    text-align: left;
    padding-left: 30px;
    padding-right: 20px;
}