.Responsive-form {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  
  .Responsive-form {
    display: inline-flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;

  
  }
  