.Header {
  @font-face {
    font-family: "Roboto";
    src: url("https://fonts.googleopi.com/css2?family=roboto:ital,wght@1,300&display=swap");
  }
}
.responsive-searchbox {
  display: flex;
  justify-content: center;
  height: 4.5rem;
  padding-bottom: 30px;
  /* background-color: aqua; */
}
@media screen and(max-width: 700px) {
  .responsive-searchbox {
    display: flex;
    flex-wrap: wrap;
    /* position: absolute; */
    top: 120px;
    padding-bottom: 40px;
  }
}
