.artisantsCard {
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: lightgreen;
    border-radius: 20px;
    max-width: 700px;
    margin:20px 500px;
    height: auto;
    opacity: 0.6;
    transition: 0.5s;
    box-shadow: 5px 10px grey;
    
} 
.artisantsCard:hover {
    transform: scale(1.05);
     

     }
    
