.navbar{
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(61,68,81);
    color: white;
    font-family:'Times New Roman', Times, serif;
}
 .links{
    display: inline;
    float: left;
 }
.links a{
    display: block;
    color: white;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
}
.links a:hover{
    color: orange;
}
.push{
    float: right;
}
.link{
    color: white;
    margin-top: auto;
    margin-left: 25px;
    padding-bottom: 0px;
    text-decoration: none;
    float: left;
}