.blog-card {
	display: flex;
	flex-wrap: wrap;
	border: 0.5px solid #cfcaca7f;
	/* width: 70%; */
	margin: 2rem;
	text-align: start;
	font-size: 0.8rem;
	padding-right: 1rem;
	border-radius: 5px;
	max-width: 55rem;
	overflow: hidden;
}

.image {
	object-fit: cover;
}
.blog-card img {
	height: 300px;
	max-width: 100%;
}

.card-container {
	padding-left: 1rem;
	max-width: 100%;
}
.card-container .title{
	color: #7f7f7f7f;
}
.btn{
	align-items: center;
}

